.footer {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 10rem;
}

.footer h1 {
  margin-bottom: 0;
}

.footer .logo {
  height: 10rem;
}
