* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
}

main {
  min-height: calc(100vh - 6rem - 10rem);
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 760px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 290px) {
  html {
    font-size: 10px;
  }
}
