.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #222;
}

.header .logo {
  height: 4rem;
}

.header .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0;
}

.header .nav-list li {
  list-style: none;
}

.header .nav-list li a {
  color: #efefef;
  text-decoration: none;
}
