header {
  background-color: #24252a;
  min-height: 6rem;
  display: flex;
}

.nav-bar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.span {
  color: #ea1d1d;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.nav-list ul li a:hover {
  color: #ea1d1d;
}

.nav-item {
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 400;
}

.login-button button {
  border: none;
  background-color: #ea1d1d;
  padding: 10px 15px;
  border-radius: 5px;
}
.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

@media screen and (max-width: 625px) {
  .nav-bar {
    padding: 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }

  .login-button button {
    width: 10rem;
    padding: 0.5rem 1rem;
  }
}
