.home .main {
  padding: 2rem;
}

.home .main .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  justify-content: center;
  gap: 4rem;
}

.home .main .products-grid .product {
  position: relative;
  list-style: none;
  cursor: pointer;
  transition: box-shadow 0.4s ease 0s;
}

.home .main .products-grid .product .link-buy-product {
  color: #222;
  text-decoration: none;
}

.home .main .products-grid .product:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 2px -2px 4px;
}

.home .main .products-grid .product .favorite-container {
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  width: 3rem;
  position: absolute;
  right: 0;
  top: 0;
}

.home .main .products-grid .product .favorite-button {
  width: 1.75rem;
}

.home .main .products-grid .product .produt-image-container {
  text-align: center;
}

.home .main .products-grid .product .product-image {
  height: 10rem;
  border-radius: 6px;
}

.home .main .products-grid .product .product-description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}

.home .main .products-grid .product .rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 1rem;
  margin-top: 0.5rem;
}

.home .main .products-grid .product .product-stars-icon {
  width: 1rem;
  cursor: pointer;
}
