.payment {
  background-color: #fdfdfd;
}

.payment .main {
  padding: 2rem;
}

.payment .main h3 {
  font-weight: 400;
}

.payment .payment-section .title {
  text-align: center;
  margin-bottom: 4rem;
}

.payment .payment-section .forms {
  display: grid;
  grid-template-columns: 30rem 30rem;
  justify-content: center;
  gap: 8rem;
}

.payment .payment-section .form {
  position: relative;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin: 0 auto;
}

.payment .payment-section .form-credit-card {
  width: 20rem;
}

.payment .payment-section .forms h2 {
  margin-bottom: 1rem;
}

.payment .main .payment-section .field {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.payment .main .payment-section .field .input,
.payment .main .payment-section .field .installment {
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #222222;
  font-size: 1rem;
}

.payment .main .payment-section .finish-button-container {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.payment .main .payment-section .finish-button {
  width: 20rem;
  text-align: center;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  color: #ededed;
  text-decoration: none;
  border-radius: 5px;
  background-color: #0ec70e;
  margin-top: 1rem;
}

.payment .main .payment-section .pix-payment-options {
  display: flex;
  gap: 4rem;
  width: 100%;
  margin-top: 1rem;
}

.payment .main .payment-section .pix .qr-code img {
  width: 12rem;
}

.payment .main .payment-section .pix .payment-code {
  font-weight: 700;
  font-size: 1.5rem;
}

.payment .main .payment-section .pix .code {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 1020px) {
  .identification .main .identification-form-section {
    width: 100%;
  }

  .payment .payment-section .forms {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .payment .payment-section .form-pix {
    width: 20rem;
  }

  .payment .main .payment-section .pix-payment-options {
    flex-direction: column;
  }

  .payment .main .payment-section .button-container {
    width: 100%;
  }

  .payment .main .payment-section .finish-button {
    width: 100%;
  }
}
